body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
}

.file-list {
  list-style-type: none;
  padding: 0;
}

.file-item,
.folder-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
  position: relative;
  margin-bottom: 10px;
  text-decoration: none;
}

.file-item:hover,
.folder-item:hover {
  background-color: #e9e9e9;
}

.dropdown {
  position: absolute;
  top: 5px;
  right: 5px;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown .dropbtn {
  background-color: transparent;
  border: none;
  color: #666;
  font-size: 20px;
  cursor: pointer;
}

.dropdown .dropbtn:hover {
  color: #333;
}
@media screen and (max-width: 800px) {
  .dropdown-content {
    position: relative;
  }
  .dropdown, .dropbtn {
    width: 30%;
    display: block;
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.input-button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-button:hover {
  background-color: #218838;
}

input[type="text"],
input[type="file"] {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #218838;
}

/* Icon styling */
.file-item i,
.folder-item i {
  margin-left: 5px;
  color: #f0c024;
}

/* Adjust icon size */
.fa-file,
.fa-folder {
  font-size: 18px;
}

.newButton {
  --b: 3px;
  /* border thickness */
  --s: .15em;
  /* size of the corner */
  --c: #22201f;

  padding: calc(.05em + var(--s)) calc(.3em + var(--s));
  color: var(--c);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b), #34343500 90deg, var(--c) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .2em;
}

.newButton:hover,
.newButton:focus-visible {
  --_p: 0px;
  outline-color: var(--c);
  outline-offset: .05em;
}

.newButton:active {
  background: var(--c);
  color: #fff;
}

.newButton {
  font-family: system-ui, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  margin: .1em;
  margin-bottom: 10px;
}

.logout {
  position: absolute;
  right: 10px;
  top: 10px;
}

.button-48 {
  display: grid;
  justify-content: right;
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  font-family: Clarkson, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1em 1.7em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #EBEBEB;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #FFFFFF;
  color: #080808;
}

.button-48 span {
  z-index: 1;
  position: relative;
}
/* Responsive styles */
@media (max-width: 768px) {
  .container {
    max-width: 90%;
  }
  h2 {
    font-size: 16px;
    text-align: left;
  }
}